<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.librestatic.lightforge.feature.collage.CreationCollageLifecycleActivity"
            android:exported="false" android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <provider android:name="com.librestatic.lightforge.feature.collage.CreationCollageTestProvider"
            android:authorities="com.librestatic.lightforge.feature.collage.test.creationfixture"
            android:exported="false" android:grantUriPermissions="false" />
    </application>
</manifest>
