<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.ugallery.feature.widget.test.permission.RUNTIME_FIXTURE" />
    <queries>
        <package android:name="com.ugallery.feature.widget.test" />
        <provider android:authorities="com.ugallery.feature.widget.test.permissionfixture" />
    </queries>
    <application>
        <activity android:name="com.ugallery.core.mediastore.WidgetRuntimeHostActivity"
            android:exported="false" android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
