<manifest xmlns:android="http://schemas.android.com/apk/res/android"><uses-permission android:name="android.permission.INTERNET" /><application><provider android:name="com.librestatic.lightforge.feature.ownsync.OwnSyncFixtureProvider" android:authorities="com.librestatic.lightforge.feature.ownsync.test.source" android:exported="true" android:grantUriPermissions="true" /></application></manifest>